{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Episode{% endblock %}

{% block body %}
    {{ dump(program) }}
    <div class="media">
        <div class="media-body">
            <h1>Série :  {{program.title}}</h1>
            <h2>Episode :  {{ episode.title }}</h2>
            <p>Saison : {{ season.number }}</p>
            <p>Episode : {{ episode.number }}</p>
            <p>Résumé : {{ episode.synopsis }}</p>
            <p>
                <a href="{{ path('wild_show_season', {'id': season.id }) }}">
                    Détails de la saison
                </a>
            </p>
            <p>
                <a href="{{ path('wild_show_program', {slug : program.title }) }}">
                    Détails de la série
                </a>
            </p>
        </div>
    </div>




    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}