{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Season{% endblock %}

{% block body %}
    {{ dump(episode) }}
    <div>
        <p>
            test
        </p>
    </div>
    <div>
        <h2>Titre de la saison :  {{ program.title }}</h2>
        <p>{{ program.summary }}</p>
    </div>
        {% for episode in episode %}
            <p><strong>Episode numéro :  {{ episode.number }}</strong></p>
            <p>Titre de l'épisode :  {{ episode.title }}</p>
            <p>{{ episode.synopsis }}</p>
        {% endfor %}


    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}